.ca-navbar {
  z-index: 1000;
  border-bottom: 4px solid #00a8a1;
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: #00A5A6 !important;
}

.btn-primary {
  color: #fff;
  background-color: #00A5A6;
  border-color: #00A5A6;
}
.btn-primary:hover {
  color: #fff;
  background-color: #00A5A6;
  border-color: #00A5A6;
}
.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #00A5A6;
  border-color: #00A5A6;
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}

.btn-outline-primary {
  color: #00A5A6;
  border-color: #00A5A6;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #00A5A6;
  border-color: #00A5A6;
}

.btn-outline-secondary {
  color: #00A5A6;
  border-color: #00A5A6;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #00A5A6;
  border-color: #00A5A6;
}

.img-border-custom {
  border: 2px dotted #424242;
  border-radius: 10px;
}

.border-bottom-custom {
  border-bottom: 30px solid #00A5A6 !important;
}

.demo-wrap {
  overflow: hidden;
  position: relative;
}

.header-bg { 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  /* background-image: url('https://image.shutterstock.com/image-illustration/white-virus-bacteria-cells-3d-600w-1734031169.jpg'); */
  background-image: url('../assets/header.jpg');
}

.btn-primary-custom {
  --bs-bg-opacity: 1;
  background-color: #EFF3CA !important;
}
